{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 Internal Server Error</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1>500 (Internal Server Error)</h1>
        <h2>サーバーが予期しない条件が発生したためリクエストを実行できませんでした</h2>
        <a href="javascript:history.back()" class="back-link">前の画面へ戻る</a>
    </div>
</body>

</html>