{% extends "base.html" %}
{% block content %}
<h1>アカウント情報</h1>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">アカウント情報</th>
        </tr>
    </thead>
    <tbody>
        {% csrf_token %}
        {% for item in object_list %}
        <tr>
            <td>
                <div>ID: {{ item.account_id }}</div>
                <div>
                    パスワード: {{ item.password }}
                    <a href="{% url 'password_change' item.account_id %}" class="btn btn-primary btn-sm ms-2">変更</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}