{% extends "base.html" %}
{% block content %}
<h1>アカウント情報</h1>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">アカウント情報</th>
        </tr>
    </thead>
    <tbody>
        {% csrf_token %}
        <tr>
            <td>ID: {{ user.account_id }}</td>
        </tr>
        <tr>
            <td>アカウント名: {{ user.account_name }}</td>
        </tr>
        {% if user.superuser_flag %}
        <tr>
            <td>
                メールアドレス: {{ user.email }}
                <a href="{% url 'app:email_change' %}" class="btn">変更</a>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>
                パスワード:
                <a href="{% url 'app:password_change' %}" class="btn">変更</a>
            </td>
        </tr>
        <tr>
            <td>登録日: {{ user.created_at }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}