{% extends "base.html" %}

{% block content %}
<h1>管理者一覧</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">検索</button>
</form>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">メールアドレス</th>
            <th scope="col">登録日時</th>
            <th scope="col">操作</th>
        </tr>
    </thead>
    <tbody>
        {% csrf_token %}
        {% for item in page_obj %}
        <tr>
            <td>{{ item.account_id }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.created_at }}</td>
            <td>
                {% if not item.id == user.id %}
                <a href="{% url 'app:admin_delete' item.pk %}">削除</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "pagination.html" %}
{% endblock %}