{% extends "base.html" %}

{% block content %}
<h1>管理者一覧</h1>
<form method="post" class="admin_list">
    {% csrf_token %}
    <div>
        <label for="search_text">検索:</label>
        <input type="text" id="search_text" name="search_text" placeholder="IDまたはユーザー名で検索"
            value="{{ form.search_text.value|default:'' }}">
        <label for="start_date">開始日:</label>
        <input type="date" id="start_date" name="start_date" value="{{ form.start_date.value }}">
        <label for="end_date">終了日:</label>
        <input type="date" id="end_date" name="end_date" value="{{ form.end_date.value }}">
    </div>
    <button type="submit">検索</button>
</form>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">ユーザー名</th>
            <th scope="col">メールアドレス</th>
            <th scope="col">登録日時</th>
            <th scope="col">操作</th>
        </tr>
    </thead>
    <tbody>
        {% csrf_token %}
        {% for item in page_obj %}
        <tr>
            <td>{{ item.account_id }}</td>
            <td>{{ item.account_name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.created_at }}</td>
            <td>
                {% if not item.id == user.id %}
                <a href="{% url 'app:admin_delete' item.pk %}">削除</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "pagination.html" %}
{% endblock %}