{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>へらすめんと</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body id="page-top">

    <!-- ヘッダー -->
    <header id="header" style="text-align: right; padding: 20px;">

        <!-- ホームに戻るボタン -->
        <a href="{% url 'app:index' %}" class="btn btn-primary" style="text-decoration: none; color: white; background-color: #007bff; padding: 10px 15px; border-radius: 5px; transition: background-color 0.3s;">HOME</a>

        <!-- ログアウトフォーム -->
        <form action='{% url "app:logout" %}' method='post' name='logout' style="display: inline;">
            {% csrf_token %}
            <a href="javascript:logout.submit()" style="text-decoration: none; color: white; background-color: #007bff; padding: 10px 15px; border-radius: 5px; transition: background-color 0.3s;">Logout</a>
        </form>
    </header>

    <!-- サイドバー -->
    <div id="sidebar">
        <ul class="navbar-nav sidebar sidebar-dark accordion">
            <hr class="sidebar-divider my-0">
            <hr class="sidebar-divider">
            <div class="sidebar-heading">アカウント</div>
            <li class="nav-item"><a class="nav-link" href="{% url 'app:superuser_signup' %}">ユーザー登録</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'app:company_signup' %}">企業登録</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'app:admin_signup' %}">管理者登録</a></li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">一覧</div>
            <li class="nav-item"><a class="nav-link" href="{% url 'app:user_list' %}">登録者</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'app:company_list' %}">企業</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'app:error_list' %}">エラー報告</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'app:admin_list' %}">管理者</a></li>
            <hr class="sidebar-divider d-none d-md-block">
        </ul>
    </div>

    <!-- コンテンツラッパー -->
    <div id="content-wrapper" style="margin-left: 270px; padding: 20px;">

        <!-- メインコンテンツ -->
        <div id="content">
            {% block content %}
            <!-- ここに各ページのコンテンツが挿入されます -->
            {% endblock %}
        </div>

        <!-- フッター -->
        <footer class="sticky-footer bg-white" style="background-color: #8f959c; padding: 20px; text-align: center;">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>© へらすめんと</span>
                </div>
            </div>
        </footer>
        <!-- フッターの終了 -->

    </div>
    <!-- コンテンツラッパーの終了 -->

</body>

</html>
