{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>へらすめんと</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <container>
        <form method="post">
            {% csrf_token %}
            <label for="id_input">ID:</label>
            <input type="text" id="id_input" name="user_id" required>
            <br>    
            <button type="submit" href="forget_password">次へ</button>
            
        </form>
    </container>
</body>
