{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>へらすめんと</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <container>
        <form method="post" class="check_id">
            <h2>ユーザーIDを入力してください</h2>
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
            {{ field.label }}
            {{ field }}
            {{ field.errors }}
            <br>
            {% endfor %}
            <br>    
            <button type="submit">次へ</button>
        </form>
    </container>
</body>