{% extends "base.html" %}

{% block content %}

<div>
    <h1>検出画面</h1>
    <form method="POST" class="detection">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <table>
            {{ field.label }}
            {{ field }}
            {{ field.errors }}
        </table>
        {% endfor %}
        <table>
            <button type="submit">検出</button>
        </table>
        {% if text.detected_words %}
        <div>
            疑いのある単語を検出しました<br>
            疑いのある単語：{{ text.detected_words }}
        </div>
        {% elif not text.detected_words %}
        <div>
            疑いのある単語は検出されませんでした
        </div>
        {% else %}
        {% endif %}
    </form>
</div>
{% endblock %}