{% extends "base.html" %}
{% block content %}
<div class="report-container">
    <h1 class="report-title">お問い合わせ</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-group">
            {{ field.label }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <div class="form-submit">
            <button type="submit">送信</button>
        </div>
    </form>
</div>
{% endblock %}