{% extends "base.html" %}

{% block content %}
<h1>お問い合わせ一覧</h1>
<form method="post">
    {% csrf_token %}
    <div>
        <label for="start_date">開始日:</label>
        <input type="date" id="start_date" name="start_date" value="{{ form.start_date.value }}">
        <label for="end_date">終了日:</label>
        <input type="date" id="end_date" name="end_date" value="{{ form.end_date.value }}">
    </div>
    <button type="submit" class="btn btn-primary">検索</button>
</form>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">報告日時</th>
            <th scope="col">内容</th>
        </tr>
    </thead>
    <tbody>
        {% csrf_token %}
        {% for item in page_obj %}
        <tr>
            <td>{{ item.report_time }}</td>
            <td>{{ item.error_detail }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "pagination.html" %}
{% endblock %}