{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>へらすめんと</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    {% if user.superuser_flag %}
        <form method="post" class="reset_pw">
            <h2>パスワードリセット</h2>
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
            {{ field.label }}
            {{ field }}
            {{ field.errors }}
            <br>
            {% endfor %}
            <button type="submit">送信</button>
        </form>
    {% else %}
        <form method="post" class="send_fpw">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
            {{ field.label }}
            {{ field }}
            {{ field.errors }}
            <br>
            {% endfor %}
            <button type="submit">送信</button>
        </form>
    {% endif %}
</body>
</html>
