{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>へらすめんと</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    {% if user.is_superuser %}
    <div class="container">
        <h2>パスワードリセット</h2>
        <form method="post">
            {% csrf_token %}
            <label for="email">メールアドレス:</label>
            <input type="email" name="email" id="email" required>
            <button type="submit">送信</button>
        </form>
    </div>
    {% else %}
    <div class="container">
        <h2>パスワードをお忘れですか？</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
            {{ field.label }}
            {{ field }}
            {{ field.errors }}
            <br>
            {% endfor %}
        </form>
    </div>
    {% endif %}
</body>
