{% extends "base.html" %}

{% block content %}
<h1>ハラスメント報告一覧</h1>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col" class="date-column">日付</th>
            <th scope="col" class="content-column">内容</th>
            <th scope="col">画像</th>
        </tr>
    </thead>
    <tbody>
        {% csrf_token %}
        {% for item in page_obj %}
        <tr>
            <td class="date-column">{{ item.report_time }}</td>
            <td class="content-column">{{ item.report_detail }}</td>
            <td>{{ item.report_un }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "pagination.html" %}
{% endblock %}
