{% extends "base.html" %}

{% block content %}
<h1>ハラスメント報告一覧</h1>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col" class="date-column">日付</th>
            <th scope="col" class="content-column">タイトル</th>
        </tr>
    </thead>
    <tbody>
        {% csrf_token %}
        {% for item in page_obj %}
        <tr>
            <td class="date-column">{{ item.report_time }}</td>
            <td class="content-column">{{ item.report_title }}</td>
            <td><a href="{% url 'app:harassment_detail' item.id %}">詳細</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "pagination.html" %}
{% endblock %}