{% extends "base.html" %}

{% block content %}

<div class="harassment-detail">
    <h1>ハラスメント詳細</h1>

    <div class="harassment-header">
        <h2>{{ harassment_report.report_title }}</h2>
        <p class="report-time">{{ harassment_report.report_time }}</p>
    </div>

    <div class="harassment-body">
        <p class="report-detail">{{ harassment_report.report_detail }}</p>
        {% if harassment_report.report_image %}
        <div class="report-image">
            <img src="{{ harassment_report.report_image.url }}" alt="Report Image">
        </div>
        {% endif %}
    </div>
</div>

{% include "pagination.html" %}
{% endblock %}
