{% extends "base.html" %}

{% block content %}
<h1>ハラスメント報告一覧</h1>

<form method="post" class="harassment_list">
    {% csrf_token %}
    <div>
        <label for="start_date">開始日:</label>
        <input type="date" id="start_date" name="start_date" value="{{ form.start_date.value }}">
        <label for="end_date">終了日:</label>
        <input type="date" id="end_date" name="end_date" value="{{ form.end_date.value }}">
    </div>
    <button type="submit" class="btn btn-primary">検索</button>
</form>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col" class="date-column">日付</th>
            <th scope="col" class="content-column">タイトル</th>
            <th scope="col" class="content-column">詳細</th>
        </tr>
    </thead>
    <tbody>
        {% csrf_token %}
        {% for item in page_obj %}
        <tr>
            <td class="date-column">{{ item.report_time }}</td>
            <td class="content-column">{{ item.report_title }}</td>
            <td><a href="{% url 'app:harassment_detail' item.id %}" class="btn">詳細</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "pagination.html" %}
{% endblock %}