{% extends "base.html" %}

{% block content %}
<h1>通知一覧</h1>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">名前</th>
            <th scope="col">受信内容</th>
            <th scope="col">受信日時</th>
            <th scope="col">操作</th>
        </tr>
    </thead>
    <tbody>
        {% if user.superuser_flag and user.user_flag %}
        {% csrf_token %}
        {% for item in page_obj %}
        <tr>
            <td>{{ item.account_name }}</td>
            <td>パスワードリセットの申請</td>
            <td>{{ item.created_at }}</td>
            <td><a href="{% url 'app:admin_delete' item.pk %}">パスワードリセット</a>
                <td>
        </tr>
        {% empty %}
        <tr>
            <td>No User</td>
            <td>通知がありません</td>
        </tr>
        {% endfor %}
        {% else %}
        {% csrf_token %}
        {% for item in page_obj %}
        <tr>
            <td>{{ item.account_name }}</td>
            <td>スーパーユーザー削除の申請</td>
            <td>{{ item.created_at }}</td>
            <td><a href="{% url 'app:admin_delete' item.pk %}">削除</a>
                <td>

        </tr>
        {% empty %}
        <tr>
            <td>No User</td>
            <td>通知がありません</td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% include "pagination.html" %}
{% endblock %}