{% extends "base.html" %}

{% block content %}
<div class="proofreading-form">
    <h1>校正画面</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div>
            <label for="text_to_proofreading">校正したい文:</label>
            <input type="text" id="text_to_proofreading" name="text_to_proofreading" required>
        </div>

        <div>
            <label for="result">結果:</label>
            <input type="text" id="result" name="result" readonly>
        </div>

        <div>
            <button type="submit">校正</button>
        </div>
    </form>
</div>
{% endblock %}
