{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>スーパーユーザー登録</title>
</head>
<h1>ユーザー新規登録</h1>
<body>
    <form action="../admin_home.html" method="POST">
        <label for="id">ID</label>
        <input type="id" id="id" name="id" required>

        <label for="email">メールアドレス</label>
        <input type="email" id="email" name="admin_address" required>

        <label for="password">パスワード</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">新規登録</button>

    </form>

</body>
</html>