{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>スーパーユーザー登録</title>
</head>
<h1>ユーザー新規登録</h1>
<body>
    <form action="../admin_home.html" method="POST">
        <label for="id">ID</label>
        <input type="id" id="id" name="id" required>

        <label for="email">メールアドレス</label>
        <input type="email" id="email" name="admin_address" required>

        <label for="password">パスワード</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">新規登録</button>

    </form>

</body>
<div class="flex-container">
    <div class="center-box">
        <p>アカウント</p>
        <ul class="list-group">
            <li class="list-group-item"><a href="user_signup.html">ユーザー登録</a></li>
            <li class="list-group-item"><a href="company_signup.html">企業登録</a></li>
            <li class="list-group-item"><a href="admin_signup.html">管理者登録</a></li>
            <li class="list-group-item"><a href="admin_delete.html">管理者削除</a></li>
        </ul>
    </div>
    <div class="center-box">
        <p>一覧</p>
        <ul class="list-group">
            <li class="list-group-item"><a href="user_list.html">登録者</a></li>
            <li class="list-group-item"><a href="company_list.html">企業</a></li>
            <li class="list-group-item"><a href="error_list.html">お問い合わせ</a></li>
            <li class="list-group-item"><a href="harassment_list.html">ハラスメント報告一覧</a></li>
            <li class="list-group-item"><a href="admin_list.html">管理者</a></li>
        </ul>
    </div>
</div>
</html>