{% extends 'base_superuser.html' %}

{% block header %}
<header class="bg-light py-3">
    <div class="container">
        <h1 class="text-center">へらすめんと</h1>
    </div>
</header>
{% endblock %}

{% block content %}
{% if user.is_admin %}
{% elif user.is_superuser %}
{% else %}
{% endif %}
<h2 style="text-align: center;">へらすめんとのせつめい</h2>
<div class="flex-container">
    <div class="center-box">
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'app:detection' %}">検出</a></li>
        </ul>
        <p>検出説明文</p>
    </div>
    <div class="center-box">
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'app:proofreading' %}">校正</a></li>
        </ul>
        <p>校正説明文</p>
    </div>
</div>
{% endblock %}