{% extends "base.html" %}

{% block content %}
<h1>登録者一覧</h1>
{% if user.superuser_flag %}
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">企業名</th>
            <th scope="col">登録日時</th>
            <th scope="col">操作</th>
        </tr>
    </thead>
    <tbody>
        {% csrf_token %}
        {% for item in page_obj %}
        <tr>
            <td>{{ item.account_id }}</td>
            <td>{{ item.company }}</td>
            <td>{{ item.created_at }}</td>
            <td>
                {% if item.superuser_flag %}
                <a href="{% url 'app:user_delete_request' item.pk %}">削除要請</a>
                {% else %}
                <a href="{% url 'app:user_delete' item.pk %}">削除</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">企業名</th>
            <th scope="col">登録日時</th>
            <th scope="col">操作</th>
        </tr>
    </thead>
    <tbody>
        {% csrf_token %}
        {% for item in page_obj %}
        <tr>
            <td>{{ item.account_id }}</td>
            <td>{{ item.company }}</td>
            <td>{{ item.created_at }}</td>
            <td>
                {% if item.superuser_flag %}
                <a href="{% url 'app:user_delete' item.pk %}">削除</a>
                {% else %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% include "pagination.html" %}
{% endblock %}